.page.theme_dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --heading-color: #DB00FF;
  --menu-color:  #ff0070;
  --title-color  :#ff0070;
  --title-decor-color: #000028;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --display-lamp: flex;
  background-image: url(../images/cover-image-dark.png);
}
